body {
    width: 100%;
    max-width: 1024px;
    margin: 1.2em;
    background-color: #FFFFFF;
    font-size: 66%;
}

header,
main,
footer {
    background-color: grey;
    font-size: 2em;
}

header {
    padding: 1.875em 0;
}

header h1 {
    text-align: center;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}
div {
    display: inline-block;
}
a {
    text-decoration: none;
    color: black
}
.button {
    border: 2px solid red;
    border-radius: 10px
}

#center_button {
    border-radius: 100px;
    border: 10px dotted blue;
}
